body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    border-radius: 6px;
    width: 550px;
    margin: auto;
}

#msg {
    text-align: center;
    padding: 10px;
    font-size: 130%;

}

#imagem_container> img {
    display: block;
    border-radius: 50%;
    margin: auto;
    padding: 28px;
}

footer {
    text-align: center;
    font-style: italic;
    color: #191e49;
    color: white;
}