body {
    background-color: rgb(35, 71, 138);
    font-size: 120%
}

header {
    color: white;
    text-align: center;
}

section {
    width: 600px;
    padding: 10px;
    border-radius: 8px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.479);
    background-color: white;
}

div {
    padding: 8px;
}

button#adicionar {
    display: inline;
}

select {
    width: 300px;
}
select > option {
    font-size: 115%;
}

footer {
    color: white;
    text-align: center;
}

button {
    display: block;
    margin: 10px 0px;
}